*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
}

.container{
    position: absolute;
    width: 100%;
    background-image: url(bg-intro-desktop.png);
    background-color: coral;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

      
.message {
    display: block;
    float: left;
    width: 50%;
    height: auto;
    margin: auto;
    /* top: 10px; */
    color: white;
    position: relative;
}

.message .par{
    font-size: 0.8rem;
    padding-left: 220px;
    
     
    /* letter-spacing: 1px; */
    line-height: 30px;
}

.message h1{
    padding-top:10px;
    font-size: 30px;
    padding-left: 220px;
    margin-top: 35%;
    line-height: 40px;
    font-size: 2.1rem;
}
/* code for the button on the form*/
.trial {
    width: 390px;
    float: left;
    margin-top: 98px;
    margin-left: 45px;
    position: relative;
    
}

#btn{
    width: 100%;
    height: 45px;
    background: slateblue;
    border: none;
    border-radius: 6px;
    margin-top: 13px;
   
    color: #fff;
    font-size: 15px;
    /* transition: 2s ease; */
}
#btn:focus{
    outline: none;
    
}
.form {
    width: 390px;
    height: 400px;
    background: white;
    position: absolute;
    top: 180px;
    left: 730px;
    border-radius: 7px;
    padding: 25px;
}

/*code for the input*/
.form input{
    position: relative;
    top: 17px;
    width: 340px;
    height: 39px;
    background: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 50px;
    padding: 12px;
    margin: 5px 0 22px 0;
    border: 1px solid gray;
    border-radius: 3px;
    background: #fff;
    outline: none;
}




#button{
    width: 340px;
    height: 35px;
    background: lightgreen;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#button p{
    font-size: 0.85rem;
    color: white;
}
.t-s{
    font-size: 0.6rem;
    color: gray;
    text-align: center;
    padding-top: 8px;
} 

.t-s a{
    color: red;
    text-decoration: none;
}


@media screen and (max-width: 1440px) {
    .container{
        background-image: url(bg-intro-desktop.png);
    }
}

@media screen and (max-width: 375px) {
    .container{
        position: relative;
        width: 100%;
        height: 800px;
        background-image: url(bg-intro-mobile.png);  
    }
    .message{
        position: relative;
        width: 250px;
        height: 100px;
        display: block;
        left: -40%;
        top: -1%;
    }
    .message h1{
        display: flex;
        width: 400px;
        position: relative;
        float: none;
        font-size: 18px;
        padding-top:10px;
        /* padding-left: 220px; */
        /* margin-top: 35%; */
        line-height: 20px;
        /* font-size: 2.1rem; */

    }
    .message .par{
        position: relative;
        left:-80px;
        width: 550px;
        text-align: center;
        font-size: 0.6rem;
        line-height: 20px;
    }

.trial{
    position: relative;
    display: grid;
    flex-direction: row;
    width: 310px;
    left: -42px;
    top: 100px;
    padding-left: 5px;
    
}
.form {
    width: 310px;
    position: relative; 
    padding-left: 1px;
     
    /* display: block;  */
    display: grid; 
    flex-direction: row;
    justify-content: start;
    align-self: center;
    top: 160px;
    left: 15px;
    padding-top: 20px;
}
    

.trial #btn {
            width: 305px;
            height: 50px;
            top:40px;
            position: relative; 
            /* display: block;  */
            /* left: 0; */
            margin-top: -50px; 
            margin-left: 50px;
            padding: 10px 20px;
            /* margin: auto; */
            /* align-self: left;  */
            
           
            /* flex-direction: row;  */
            /* display: block;  */
            /* flex-direction: column; */
            /* justify-content: start;
            align-self: center; */
            background: slateblue;
            border: 1px solid white;
            border-radius: 5px;
            /* overflow: hidden; */
            text-align: center;
            /* display: inline;
            padding: 10px; */
            color: #fff;
            font-size: 12px;
            white-space: normal;
        } 
        
        
        
        
    .form input{
            position: relative;
            top: 17px;
            width: 280px;
            height: 39px;
            background: transparent;
            font-size: 14px;
            letter-spacing: 1px;
            margin-top: 0px;
            left: 15px;
            padding: 10px 12px;
            margin: 5px 0 22px 0;
            border: 1px solid gray;
            border-radius: 3px;
            background: #fff;
            outline: none; 
        }
        #button{
            position: relative;
            width: 280px;
            background: lightgreen;
            border: none;
            border-radius: 4px;
            padding: 0 13px;
            cursor: pointer;
            font-size: 0.85rem;
            color: white;
            left: 15px;
            top: -30px;
            text-align: center;
        }
        .t-s{
            position: relative;
            font-size: 0.4rem;
            color: gray;
            text-align: center;
            padding: -10px;
            left: 15px;
            top: -50px;
            
        }  
    }
